<footer>
  <div class="footer-container">
    <div class="footer-content">
      <div class="social-icons">
        <app-icon
          link="https://google.com"
          src="../assets/icons8-google-plus-24.png"
        ></app-icon>
        <app-icon
          link="https://google.com"
          src="../assets/icons8-facebook-24.png"
        ></app-icon>
        <app-icon
          link="https://google.com"
          src="../assets/icons8-instagram-24.png"
        ></app-icon>
        <app-icon
          link="https://google.com"
          src="../assets/icons8-twitterx-24.png"
        ></app-icon>
      </div>
      <div class="copyright">
        <h2>Anthony Barnett</h2>
        <p>Creative CV All rights reserved</p>
        <p>Design - templateFlip</p>
      </div>
    </div>
  </div>
</footer>
