footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #cecfd3;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
