<section class="about-container" id="about">
  <div class="personal-info">
    <h3>About</h3>
    <p>
      Hello! i am anthony Barnet.Web Developer, Graphic designer and
      photographer.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. At accusamus
      mollitia, sint nihil ipsa totam neque perspiciatis tempora et qui cum
      maiores corrupti suscipit quisquam vel dolorem dolor optio praesentium.
      Doloremque at voluptate ducimus deserunt earum porro? Eos quaerat
      incidunt, omnis inventore odio possimus minima quidem molestias voluptate
      ullam nulla! Nisi quisquam, repellat nihil debitis saepe ipsa quia quod.
      Neque.
    </p>
  </div>
  <div class="basic-info">
    <h3>Basic Information</h3>
    <div class="key-value">
      <p class="bold">Age</p>
      <p>24</p>
    </div>
    <div class="key-value">
      <p class="bold">Email</p>
      <p>anthony@gmail.com</p>
    </div>
    <div class="key-value">
      <p class="bold">Phone</p>
      <p>+1718-191-0021</p>
    </div>
    <div class="key-value">
      <p class="bold">Address</p>
      <p>140, city center, new york, USA</p>
    </div>
    <div class="key-value">
      <p class="bold">language</p>
      <p>English, French, German</p>
    </div>
  </div>
</section>
