.btn {
  padding: 10px 30px;
  background-color: #27ae60;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  transition: ease-in-out;
}

.btn:hover {
  background-color: #17793c;
}
