<header>
  <div class="banner-wrapper">
    <div class="image">
      <img src="../../../assets/profile-photo.jpg" alt="" />
    </div>
    <h1>Anthony Barnet</h1>
    <h4>WEB DEVELOPER, GRAPHIC DESIGNER, PHOTOGRAPHER</h4>
    <div class="btns">
      <app-button text="Hire Me"></app-button>
      <app-button text="Download CV"></app-button>
    </div>
  </div>
</header>
<div class="social-icons">
  <app-icon
    link="https://google.com"
    src="../assets/icons8-google-plus-24.png"
  ></app-icon>
  <app-icon
    link="https://google.com"
    src="../assets/icons8-facebook-24.png"
  ></app-icon>
  <app-icon
    link="https://google.com"
    src="../assets/icons8-instagram-24.png"
  ></app-icon>
  <app-icon
    link="https://google.com"
    src="../assets/icons8-twitterx-24.png"
  ></app-icon>
</div>
