h2 {
  text-align: center;
  margin-bottom: 40px;
}
.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}
.project-item {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.project-item:hover {
  transform: translateY(-5px);
  transition: linear;
}

.project-img {
  width: 100%;
}
.project-img img {
  width: 100%;
}
.project-content h3 {
  margin: 10px 0px;
}
.project-content p {
  color: #4d4f4f;
  letter-spacing: 0.2px;
  line-height: 19px;
}
