<h2 id="portfolio">Portfolio</h2>
<section class="projects">
  <div class="project-item">
    <div class="project-img">
      <img src="../../../assets/shopify-email.png" alt="" />
    </div>
    <div class="project-content">
      <h3>Shopify Email</h3>
      <p>
        Create branded emails in minutes with our drag-and-drop editor, and use
        sales-focused templates that showcase products, prices, checkout links,
        and more, directly from your store. Use pre-built automation templates
        to send emails at the right times, and segment your customer list to
        reach just the right customers. Create, send, and track campaigns all
        within Shopify—the platform you trust to help you run your business.
      </p>
    </div>
  </div>
  <div class="project-item">
    <div class="project-img">
      <img src="../../../assets/printondemand.webp" alt="" />
    </div>
    <div class="project-content">
      <h3>Printful: Print on Demand</h3>
      <p>
        Looking to start a printed or embroidered t-shirt business? Or sell wall
        art or blankets from the comfort of your home? Do it with Printful—we’re
        a print-on-demand dropshipping supplier ready to support you every step
        of the way and take care of the boring stuff (you know, like
        fulfillment). We will print, package, and ship your products to your
        customers. It is time for you to take full control of your ideas, time,
        and finances—start or expand your existing online business with
        Printful!
      </p>
    </div>
  </div>
  <div class="project-item">
    <div class="project-img">
      <img src="../../../assets/netflix.webp" alt="" />
    </div>
    <div class="project-content">
      <h3>Netflix Clone</h3>
      <p>
        Dive into the world of app development with StreamIt! This app is a
        functional clone built for educational purposes, replicating the core
        functionalities of a popular streaming service. Explore features like
        browsing a video library, personalized recommendations (based on sample
        data), and playback functionalities, all built from scratch.
      </p>
    </div>
  </div>
  <div class="project-item">
    <div class="project-img">
      <img src="../../../assets/amazonclone.PNG" alt="" />
    </div>
    <div class="project-content">
      <h3>Amazon Clone</h3>
      <p>
        Ever wondered how shopping apps work? ShopNow is a personal project
        mimicking functionalities found in popular online marketplaces. This app
        showcases features like product browsing, adding items to a cart
        (simulated functionality), and a basic checkout process (for educational
        purposes).
      </p>
    </div>
  </div>
</section>
